body {
  position: relative;
  background-image: url(../src/assets/foodie-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

header {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}


