body {
  position: relative;
  background-image: url(../src/assets/foodie-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.jumbotron {
  background-color: transparent;
}

header {
  text-align: center;
  font-size: 5rem;
  margin: 10px;
}

.modal-header {
  background-color: darkcyan;
}

h4 {
  background-color: darkcyan;
  text-align: center;
  padding: 10px;
  border-radius: 2%;
}


