html,
body {
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url(../src/assets/foodie-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 10rem;
}


.jumbotron {
  background-color: transparent;
}

header h1 {
  padding: 15px 0px 10px 0px;
  margin-top: 150px;
  text-align:center; 
  font-size:50px; 
  text-transform:uppercase; 
  color:#222; 
  letter-spacing:1px;
  font-family:"Playfair Display", serif; 
  font-weight:1000;
}
header h1 span {
  margin-top: 5px;
    font-size:15px; 
    color:#444; 
    word-spacing:1px; 
    font-weight:normal; 
    letter-spacing:2px;
    text-transform: uppercase; 
    font-family:"Raleway", sans-serif; 
    font-weight:500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

header h1 span:after,header h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: transparent;
}

.random_h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: 600;
}

.text-light {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-header {
  background-color: darkcyan;
}

h4 {
  background-color: darkcyan;
  text-align: center;
  padding: 10px;
  border-radius: 2%;
}

.card {
  margin: 10px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding-top: 15px;
}

ul {
  list-style: none;
}

footer li {
  padding: 0 30px 0px 0;
}

a {
  color: var(--footer);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(160, 90, 35);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 995px) {
  .container, .container-md, .container-sm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
}

@media only screen and (max-width:767px) {
  .btn-2 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 415px) {
  span {
    text-decoration: underline;
  }
}

@media (min-width: 375px) {
  .row {
      margin-left: 15px;
  }
}